<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
</body>
</html>
    </head>
    <body>
        <div id="content">
            <div class="header"><span class="first-char">J</span>ordan normal form calculator</div>
            <div id="block" class="columns-container">
                <div class="left-column">
                    <div class="controls">
                        <button class="white-button control" onclick="resize_input(+1)">+</button>
                        <div id="size" class="control">3x3</div>
                        <button class="white-button control" onclick="resize_input(-1)">-</button>
                        <button class="white-button control" onclick="identity()">Identity</button>
                        <button class="white-button control" onclick="fill(0)">Zeros</button>
                        <button class="white-button control" onclick="fill(1)">Ones</button>
                        <button class="white-button control" onclick="sample()">Sample</button>
                        <button class="red-button control" onclick="calculate()">Calculate</button>
                    </div>
                    <table id="input-matrix" class="matrix">
                    </table>
                </div>
                
                <div class="right-column">
                    <div class="controls">
                        <div id="message" class="control"></div>
                    </div>
                    <table id="output-matrix" class="matrix">
                    </table>
                </div>
            </div>
            <div class="header-2"><span class="first-char">W</span>hat is a Jordan normal form?</div>
            In linear algebra, a <b>Jordan normal form</b> of a linear operator on a finite-dimensional
            vector space is an upper triangular matrix of a particular form called a Jordan matrix,
            representing the operator with respect to some basis. Such a matrix has each non-zero
            off-diagonal entry equal to 1, immediately above the main diagonal (on the superdiagonal),
            and with identical diagonal entries to the left and below them.
        
            <div class="header-2"><span class="first-char">S</span>omething went wrong?</div>
            It means that provided matrix can't be calculated using our resource.
            One of reasons is that our resource can calculate matrices only with integer 
            eigenvalues less than 50 by absolute value. But you can help us to remove this limits,
            visit our <a href="https://github.com/AndreaB330/LinalgCalculator" target="_blank">github repo</a>.
        </div>
    </body>
</html>