<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
</body>
</html>
    </head>
    <body>
        <nav>
            <a href="\"><span class="first-char">L</span>inalgCalculator</a>
			<a href="\det">Determinant</a>
			<a href="\inv">Inverse matrix</a>
			<a href="\jor">Jordan form</a>
			<a href="\gau">Gauss elimination</a>
        </nav>
        <div id="content">
            {% include page %}
            {% include 'footer.html' %}
        </div>
    </body>
</html>