<div class="header"><span class="first-char">J</span>ordan normal form calculator</div>
<div id="block" class="columns-container">
    <div class="left-column">
        <div class="controls">
            <button class="white-button control" onclick="resize_input(+1)">+</button>
            <div id="size" class="control">3x3</div>
            <button class="white-button control" onclick="resize_input(-1)">-</button>
            <button class="white-button control" onclick="identity()">Identity</button>
            <button class="white-button control" onclick="fill(0)">Zeros</button>
            <button class="white-button control" onclick="fill(1)">Ones</button>
            <button class="white-button control" onclick="sample()">Sample</button>
            <button class="red-button control" onclick="calculate_jordan()">Calculate</button>
        </div>
        <table id="input-matrix" class="matrix">
        </table>
    </div>
    <div class="right-column">
        <div class="controls">
            <div id="message" class="control"></div>
        </div>
        <table id="output-matrix" class="matrix">
        </table>
    </div>
</div>
<div class="header-2"><span class="first-char">W</span>hat is a Jordan normal form?</div>
In linear algebra, a <b>Jordan normal form</b> of a linear operator on a finite-dimensional
vector space is an upper triangular matrix of a particular form called a Jordan matrix,
representing the operator with respect to some basis. Such a matrix has each non-zero
off-diagonal entry equal to 1, immediately above the main diagonal (on the superdiagonal),
and with identical diagonal entries to the left and below them.
