body{
    background-color: #FFF;
    color:#000;
    font-size: 12px;
    font-family: Verdana,sans-serif;
    padding:0px;
    margin:0px;
    width:100%;
	position:relative;
}

nav {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 32px;
	background: #202020;
	z-index: 100;
}

nav > a {
    font-weight:bold;
	font-size: 18px;
	padding: 0px 20px;
	float: left;
	line-height: 32px;
	height: 32px;
	color: white;
	text-decoration: none;
	display: block;
	background: #202020;
}

nav > a:hover {
	cursor: pointer;
	background: #505050;
}

nav > a:active {
	cursor: pointer;
	background: #909090;
}

#content {
	position:relative;
    width: 87em;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
	display: table;
	padding-bottom: 60px;
}

#footer {
	position:absolute;
	bottom:0px;
}

.matrix {
    table-layout: fixed;
    margin:0 auto;
    padding:5px;
    border-radius: 10px;
    border-left:1px solid #666;
    border-right:1px solid #666;
	width: 95%;
}

.number {
	font-size: 20px;
}

.first-char{
    color:#F22;
}

tr {
    width: 100%;
}

td {
	width: 10%;
	padding: 0;
	margin: 0;
}

.matrix-cell{
    padding: 0px;
    line-height: 25px;
    font-size: 14px;
    height: 25px;
    border:1px solid #DDF;
    text-align:center;
	overflow: hidden;
}

input.matrix-cell {
	width: 100%;
}

.output{
    font-weight:bold;
    padding: 0px;
    line-height: 25px;
    font-size: 14px;
    display: block;
    height: 25px;
    border: 0px;
}

.zero{
    font-weight:normal;
}

.header{
    font-size: 22px;
    font-weight: bold;
    display:table;
    width: 100%;
    border-bottom: 1px solid #d5dddf;
    margin-bottom: 5px;
}

.controls {
    margin-bottom: 5px;
    height: 30px;
}

.column {
    width: 50%;
    float:left;
    position:relative;
}


.red-button {
    min-width:30px;
	-moz-box-shadow:inset 0px 1px 0px 0px #8a2a21;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8a2a21;
	box-shadow:inset 0px 1px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
    text-align: center;
	text-shadow:0px 1px 0px #810e05;
}
.red-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.red-button:active {
	position:relative;
	top:1px;
}

.white-button {
    min-width:30px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
    text-align: center;
	text-shadow:0px 1px 0px #ffffff;
}
.white-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.white-button:active {
	position:relative;
	top:1px;
}

#size, #size-width, #size-height {
    font-weight: bold;
    height:29px;
    line-height:29px;
}

.control {
	display: inline-block;
    margin:2px 0 0 0;
	width: 96%;
}

.control2 {
	display: inline-block;
    margin:2px 0 0 0;
	width: 48%;
}

.subcontrol {
	margin: 0 0px 0 0;
	float: left;
	width: 33.3%;
	text-align: center;
}

#message {
    font-weight: bold;
    height:29px;
}

.header-2{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display:block;
    width: 100%;
    margin-bottom: 5px;
}

.columns-container {
	width: 100%;
    display:table;
}

.column {
	float:left;
	height: 100%;
	text-align: center;
	font-weight: bold;
}

.left {
	width: 10%;
	//border-right: 1px solid #d5dddf;
}

.middle {
	width: 45%;
	//border-right: 1px solid #d5dddf;
}

.right {
	width: 45%;
}

.numerator,.denominator {
	height: 50%;
	font-size: 12px;
	line-height: 12px;
}

.numerator {
	text-decoration: underline;
}

.active {
	background-color: #FFF;
	color: #000;
}

.active:hover, .active:active {
	background-color: #FFF !important;
}

input:disabled {
    color: #999999;
}